<p>
  <strong>Pet name:</strong>
  <%= @pet.name %>
</p>

<p>
  <strong>Picture:</strong>
  <%= image_tag(@pet.picture_url, :width => 600) if @pet.picture.present? %>
</p>

<p>
  <strong>Max weight:</strong>
  <%= @pet.max_weight %>
</p>
<p>
  <strong>Pet age:</strong>
  <%= @pet.age %> days old
</p>

<p>
  <strong>Eaten foods:</strong>
  <%= @pet.eaten_foods %>
</p>

<p>
  <strong>Pet full score:</strong>
  <%= @pet.food_score %>% full
</p>

<%= link_to 'Edit', edit_pet_path(@pet) %> |
<%= link_to 'Back', pets_path %> |
<%= link_to 'Feed your pet', new_pet_food_path(@pet, @food) %>
